body {
    background-color: antiquewhite;
}

.header {
    margin: 1rem;
    background-color: tan;
    display: flex;
    position: 0;
    width: 100%;
    justify-content: space-around;
}

.searchFunction {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
}
